.customRightArrow {
    position: absolute !important;
    right: 60px;
    z-index: 1;
    border: 2px solid grey;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 12px;
    opacity: 1.6;
    cursor: pointer;
    transform: rotate(-45deg);
    background-color: white;
  }
  .customRightArrow:hover {
    opacity: 1;
    border-color: #a9a9a9;
  }
  .customLeftArrow {
    position: absolute !important;
    left: 60px;
    z-index: 1;
    border: 2px solid grey;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 12px;
    opacity: 1.6;
    cursor: pointer;
    transform: rotate(135deg);
    background-color: white;
  }
  .customLeftArrow:hover {
    opacity: 1;
    border-color: #a9a9a9;
  }
  .image{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 9%;
    margin-top: 1%;
    cursor: default !important;
  }
  .image:hover{
    cursor: default !important;
  }
  .customDotFocus{
    margin-left: 5%;
    margin-right: 5%;
    border: 5px solid #999999;
  }
  .customDotFocus:hover{
    cursor: pointer;
    border: 5px solid black;
  }
  .customDot{
    margin-left: 5%;
    margin-right: 5%;
    border: 2.5px solid darkgray;
  }
  .customDot:hover{
    cursor: pointer;
    border: 2.5px solid black;
  }