.Navbar {
  height: 100%;
  background-blend-mode: darken;
  margin-bottom: 1%;
  background: #00008b;
}
.NavbarSticky {
  background-color: #00008b;
  margin-bottom: 1%;
}
.navbarButton {
  border-color: #ffe069;
  color: #ffe069;
  border-radius: 40px;
}
.navbarButton:hover {
  background-color: #ffe065;
  color: black;
}
.navbarLogin {
  background-color: #00008b;
  border-color: #00008b;
  color: #ffe069;
}
.navbarLogin:hover {
  background-color: #00008b;
  border-color: #00008b;
  color: #ffe069;
  text-decoration: underline;
}
.navbarSignup {
  background-color: #00008b;
  border-color: #00008b;
  color: #ffe069;
}
.navbarSignup:hover {
  background-color: #00008b;
  border-color: #00008b;
  color: #ffe069;
  text-decoration: underline;
}
.Header {
  font-size: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 47px;
  color: #ffffff;
}
.SubHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  width: 491px;
}
.SearchBar{
  border-radius: 40px 0px 0px 40px;
  margin-left: 0%;
}
.SearchButton{
  left: "1%";
  margin-bottom: "1rem";
  border-left-width: "1px";
  background-color: #ffffff;
  border-color: #ffffff;
  height: 58px;
}
.SearchButton:hover{
  background-color: #ececee;
  border-color: #ececee;
}
.SubNavbar {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.InputBar{
  margin-top: 2%;
}
.Account{
  border-color: #00008b;
  background-color: #00008b;
  color: #ffe069;
  border-radius: 40px;
}
.Account:hover{
  background-color: #00008b;
  border-color: #00008b;
  color: #ffe069;
  text-decoration: underline;
}