.backround {
  position: absolute;
  background: linear-gradient(
    180deg,
    #5353de 0%,
    rgba(0, 0, 139, 0.109375) 86.46%,
    rgba(0, 0, 139, 0) 100%
  );
  border: 1px solid #000000;
  box-sizing: border-box;
}
