.navbar {
    background-color: #00008b;
    margin-top:0.5%;
    height: 70px;
    margin-bottom: 2rem;
    max-width: 10000px;;
}


.navbar .mr-sm-2 {
    margin-left: 10rem;
    height:44px;
}

.navbar .dropdown  {
    background-color: rgb(255, 255, 255);
    color:black;
    border-radius: 5px;
    margin-left:2rem
}


.navbar .navbar-brand {
    position:absolute;
    left:12rem;
    top: -0.6rem;
    font-size: 45px;
    color:white;
}

.navbar  .navbar-brand:hover {
    color: white;
}

.navbar .searchbar{
    width: 60rem;
    margin-left: 20rem;
}

.navbar .searchb{
    margin-left:2rem;
    border-radius: 5px;
}
.navbar .sellbtn{
    margin-left: 2rem;
}
@media all and (max-width: 1300px){
    .navbar .searchbar{
    width:40rem;
    }

    
}
