.header{
    position: absolute;
    background-color:#00008b;
    height: 75px;
    width: 1500px;
    border-radius: 10px;
    top:10px;
    margin-left: 250px;
    margin-right: 250px;  

}

.h3{
    color:white;
    float:left;
    display: block;
    font-size: xx-large;
    position: relative;
    left:300px;
    font-family: B612;
    bottom: -16px;
    font-size: 36px;
    line-height: 42px;  
    font-weight: bold;
}

.search{
    
    
    float: left;
    display: block;
    margin: 30px 20px;
    position: relative;
    left:300px;
    bottom:17px;
    font-size: x-large;
    font-weight: bold;
    font-family: B612;
    
    
}

.searchbar{
    height: 50px; 
    width:450px; 
}

.sbtn{

    margin: 30px 20px;  
    position: relative;
    bottom:17px;
    height:50px;
    width:80px;
    left: 180px;
    font-family: B612;
    font-size: 18;
    text-align: center;
    font-weight: bold;
    color:#8e8e8e;
    
    
}

.dropdown {
    position:relative;
    left:285px;
    bottom:96px;
    height: 50px ;
    border-radius: 0px;
    color:#00008B;
    font-weight: bold;
    font-family: B612;


    
}

.sellbtn{
    position:relative;
    bottom: 146px;
    left:1100px;
    height: 50px;
    width:85px;
    color:#00008B;
    font-size:x-large;
    font-family:B612;
    font-weight: bold;


}

