.Price{
    font-size:3rem;
    left: 79rem;
    color:#00008B;
    position:absolute; 
    top: 37rem;
    
}
.text-center{
    position:relative;
    left: 12rem;
    margin-top: 3rem;
    width:61rem;
}

.product_car{
    height:14rem;
}

.offerbtn{
    width: 14rem;
    height: 5rem;
    font-size: 2rem;
    position:absolute;
    left: 79rem;
    top: 42rem;
}

.messagebtn{
    width: 14rem;
    height: 5rem;
    font-size: 2rem;
    position:absolute;
    left: 79rem;
    top: 48.3rem;
}

.sellerinfo{
    height:13rem;
    position: absolute;
    top: 12rem;
    left: 79rem;
    margin-top: 1rem;
    width:14rem;    

}

.description{
    height: 20rem;
    position:relative;
    left:12rem;
    top:2rem;
    width:61rem;
    margin-bottom: 20rem;
  
}

.product_title{
    position: absolute;
    left:79rem;
    font-size: 3rem;
    position: absolute;
    top: 8rem;
    color:#00008B;
}




@media all and (max-width: 1500px){

    .description{
        width:49rem;
    }



    .text-center{
        width:49rem;
        margin-top:4rem;
    }

    .product_title{
        left:68rem;
    }

    .sellerinfo{
        left:68rem;
    }

    .messagebtn{
        left:68rem;
    }

    .offerbtn{
        left:68rem;
    }

    .Price{

        left:68rem;
    }
}


@media all and (max-width: 1300px){

    .description{
        width:37rem;
    }



    .text-center{
        width:37rem;
    }

    .product_title{
        left:57rem;
    }

    .sellerinfo{
        left:57rem;
    }

    .messagebtn{
        left:57rem;
    }

    .offerbtn{
        left:57rem;
    }

    .Price{

        left:57rem;
    }
}

@media all and (max-width: 1150px){

    .text-center{
        left: 6rem;
    }

    .description{
        left:6rem;
    }



    .product_title{
        left: 48rem;
    }

    .sellerinfo{
        left:48rem;
    }

    .messagebtn{
        left:48rem;
    }

    .offerbtn{
        left:48rem;
    }

    .Price{

        left:48rem;
    }
}

@media all and (max-width: 1000px){

    .text-center{
        left: 6rem;
        width:30rem;
    }

    .description{
        left:6rem;
        width:30rem;
    }



    .product_title{
        left: 40rem;
    }

    .sellerinfo{
        left:40rem;
    }

    .messagebtn{
        left:40rem;
    }

    .offerbtn{
        left:40rem;
    }

    .Price{

        left:40rem;
    }
}

@media  screen and (max-width:900px) {
    .text-center{
        width:20rem;
    }

    .description{
        width:20rem;
    }

    .product_title{
        left:30rem;
        top:8rem;
    }

    .sellerinfo{
        left:30rem;
        top:12rem;
    }

    .Price{
        left:30rem;
        top:33rem;
    }

    .offerbtn{
        top:39rem;
        left:30rem;
    }

    .messagebtn{
        top:45rem;
        left:30rem;
    }
}


@media screen and (max-width:710px) {
    
    .text-center{
        margin-top:6rem;
        left:3rem;
        width:36rem;
    }

    .description{
        left:3rem;
        width:36rem;
    }

    .product_title{
        top:8rem;
        left:3rem;
    }

    .sellerinfo{
        top:60rem;
        left:3rem;
        width:16rem;
    }

    .messagebtn{
        top:61rem; 
        left:24rem; 
    }

    .offerbtn{
        top:67rem;
        left:24rem;
    }

    .Price{
        top:8rem;
        left:26rem;
    }
}

@media screen and (max-width:650px) {
    .text-center{
        width:30rem;
        left:4rem;
    }

    .description{
        width:30rem;
        left:4rem;
    }

    .sellerinfo{
        width:14rem;
        left:4rem;
    }

    .messagebtn{
        left:20rem;
    }

    .offerbtn{
        left:20rem;
    }

    .product_title{
        left:4rem;
    }

    .Price{
        left:21.5rem;
    }
}

@media screen and (max-width:565px) {
    .product_title{
        font-size: 3rem;
        left:13rem;
    }

    .Price{
        font-size: 3rem;
        left:11rem;
        top:76rem
    }

    .text-center{
        width:24rem;
        left:4rem;
    }

    .description{
        width:24rem;
        margin-bottom: 40rem;
    }

    .sellerinfo{
        width:24rem;
    }

    .messagebtn{
        top:82rem;
        left:10rem;
    }

    .offerbtn{
        top:88rem;
        left: 10rem;
    }
}


@media screen and (max-width:450px) {

    .description{
        width:20rem
    }

    .text-center{
        width:20rem;
    }

    .product_title{
        left:11rem;
    }

    .sellerinfo{
        width:20rem;
    }

    .Price{
        left:8rem;
    }

    .messagebtn{
        left:7.5rem;
    }

    .offerbtn{
        left:7.5rem;
    }
    
}


@media screen and (max-width:400px) {

    .description{
        width:20rem;
        left:2rem;
    }

    .text-center{
        width:20rem;
        left:2rem;
    }

    .product_title{
        left:9rem;
    }

    .sellerinfo{
        width:20rem;
        left:2rem;
    }

    .Price{
        left:5rem;
    }

    .messagebtn{
        left:5rem;
    }

    .offerbtn{
        left:5rem;
    }
    
}


@media screen and (max-width:370px) {

    .description{
        width:15rem;
        left:4rem;
    }

    .text-center{
        width:15rem;
        left:4rem;
    }

    .product_title{
        left:8.5rem;
    }

    .sellerinfo{
        width:15rem;
        left:4rem;
    }

    .Price{
        left:6rem;
        font-size: 2.5rem;
    }

    .messagebtn{
        left:5rem;
    }

    .offerbtn{
        left:5rem;
    }
    
}