.Price{
    font-size:3rem;
    left: 79rem;
    color:#00008B;
    position:absolute; 
    top: 44rem;
    
}
.text_center{
    position:relative;
    left: 12rem;
    margin-top: 5rem;
    width:61rem;
}
.product_car{
    height:14rem;
}
.offerbtn{
    width: 14rem;
    height: 5rem;
    font-size: 2rem;
    position:absolute;
    left: 79rem;
    top: 49rem;
}
.messagebtn{
    width: 14rem;
    height: 5rem;
    font-size: 2rem;
    position:absolute;
    left: 79rem;
    top: 55rem;
}
.sellerinfo{
    height:13rem;
    position: absolute;
    top: 18rem;
    left: 79rem;
    margin-top: 1rem;
    

}
.description{
    height: 20rem;
    position:relative;
    left:12rem;
    top:2rem;
    width:42rem;
    margin-bottom: 20rem;
  
}
.product_title{
    position: absolute;
    left:79rem;
    font-size: 3rem;
    position: absolute;
    top: 14.5rem;
    color:#00008B;
}
.item_info{
    position: absolute;
    left: 55rem;
    top: 40rem;
    height: 20rem;
    width:18rem; 
}
.Breadcrumb{
    margin-left: 11rem;
    margin-right: 11rem;
    margin-top:1rem;
}


@media all and (max-width: 1500px){

    .description{
        width:30rem;
    }

    .item_info{
        left:43rem;
    }

    .text-center{
        width:49rem;
    }

    .product_title{
        left:68rem;
    }

    .sellerinfo{
        left:68rem;
    }

    .messagebtn{
        left:68rem;
    }

    .offerbtn{
        left:68rem;
    }

    .Price{

        left:68rem;
    }
}


@media all and (max-width: 1300px){

    .description{
        width:24rem;
    }

    .item_info{
        left: 37rem;
        width:12rem;
    }

    .text-center{
        width:37rem;
    }

    .product_title{
        left:57rem;
    }

    .sellerinfo{
        left:57rem;
    }

    .messagebtn{
        left:57rem;
    }

    .offerbtn{
        left:57rem;
    }

    .Price{

        left:57rem;
    }
}

@media all and (max-width: 1050px){

    .text-center{
        left: 6rem;
    }

    .description{
        left:6rem;
    }

    .item_info{
        left:31rem;
    }

    .product_title{
        left: 48rem;
    }

    .sellerinfo{
        left:48rem;
    }

    .messagebtn{
        left:48rem;
    }

    .offerbtn{
        left:48rem;
    }

    .Price{

        left:48rem;
    }
}